<div class="inputs">
  <div class="input-title">
    <button class="btn-change">+</button>
    <input
      class="form-title"
      type="text"
      [(ngModel)]="title"
      placeholder="Название"
    />
  </div>
  <div class="input-date">
    <input class="form-date" type="datetime-local" [(ngModel)]="newTimerDate" />
    <button class="btn-add" (click)="addTimer()">+</button>
  </div>
</div>

<div class="line"></div>

<div class="timers">
  <div *ngFor="let timer of timers">
    <div class="timer">
      <div class="frame-black">
        <div class="frame-white">
          <p class="timer-title">{{ timer.title | uppercase }}</p>
          <div class="timer-items">
            <div class="timer-item">
              {{ timer.out.days }}
              <span class="timer-text">{{ timer.out.daysTitle }}</span>
            </div>
            <div class="timer-item">
              {{ timer.out.hours }}
              <span class="timer-text">{{ timer.out.hoursTitle }}</span>
            </div>
            <div class="timer-item">
              {{ timer.out.minutes }}
              <span class="timer-text">{{ timer.out.minutesTitle }}</span>
            </div>
            <div class="timer-item">
              {{ timer.out.seconds }}
              <span class="timer-text">{{ timer.out.secondsTitle }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-del">
        <button class="btn-del-params" (click)="deleteTimer(timer)">x</button>
      </div>
    </div>
  </div>
</div>
